global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    timeout connect 5000
    timeout client 50000
    timeout server 50000

# Бэкенд для определения состояния Patroni
backend patroni_check
    mode http
    option httpchk
    http-check expect status 200
    server k8s-postgres.elewise.local 192.168.39.150:5432 check port 8008 inter 3s fall 3 rise 4
    server k8s-postgres-s1.elewise.local 192.168.29.27:5432 check port 8008 inter 3s fall 3 rise 4
    server k8s-postgres-m2.elewise.local 192.168.39.175:5432 check port 8008 inter 3s fall 3 rise 4

# Мастер (только запись) - порт 5000
listen postgres_master
    bind *:5000
    mode tcp
    option tcplog
    balance first
    
    # Health check через Patroni API - ищем мастер
    option httpchk OPTIONS /master
    http-check expect status 200
    
    # Настройки проверки состояния
    default-server inter 2s fastinter 1s fall 3 rise 2 on-marked-down shutdown-sessions
    
    # Серверы - все ноды, но HAProxy направит трафик только на мастер
    server k8s-postgres.elewise.local 192.168.39.150:6432 check port 8008
    server k8s-postgres-s1.elewise.local 192.168.29.27:6432 check port 8008
    server k8s-postgres-m2.elewise.local  192.168.39.175:6432 check port 8008

# Реплики (только чтение) - порт 5001  
listen postgres_replicas
    bind *:5001
    mode tcp
    option tcplog
    balance roundrobin
    
    # Health check через Patroni API - ищем реплики
    option httpchk OPTIONS /replica
    http-check expect status 200
    
    # Настройки проверки состояния
    default-server inter 2s fastinter 1s fall 3 rise 2 on-marked-down shutdown-sessions
    
    # Серверы - все ноды, но HAProxy направит трафик только на реплики
    server k8s-postgres.elewise.local 192.168.39.150:6432 check port 8008
    server k8s-postgres-s1.elewise.local 192.168.29.27:6432 check port 8008
    server k8s-postgres-m2.elewise.local 192.168.39.175:6432 check port 8008

# Общий пул PgBouncer для приложений, которые могут работать с любой ролью
listen pgbouncer_pool
    bind *:6432
    mode tcp
    balance leastconn
    option tcp-check
    tcp-check connect
    tcp-check send PING\r\n
    tcp-check expect string PONG
    default-server inter 3s fall 3 rise 2
    server k8s-postgres 192.168.39.150:6432 check
    server k8s-postgres-s1 192.168.29.27:6432 check
    server k8s-postgres-m2 192.168.39.175:6432 check

# Статистика HAProxy
listen stats
    bind *:8080
    mode http
    stats enable
    stats uri /haproxy
    stats refresh 10s
    stats show-legends
    stats show-node
    stats auth admin:admin





    